// Specific CSS for your home-page
body {
  background: linear-gradient(to right, $blue, $orange);
}

h2 {
  border-radius: 16px;
  font-weight: bold;
  color: $blue;
  padding: 10px;
  background: white;
}

#party_word {
  width: 100%;
}

.color-white {
  color: white;
}

.color-blue {
  color: $blue;
}

.font-bold {
  font-weight: bold;
}

.font-logo {
  color: $blue !important;
}
